body {
	color: #fff;
	background: #1f2937;
	font-family: verdana, sans-serif;
}

.scoreboard {
	min-height: 100vh;
}

h2 {
	text-transform: uppercase;
	font-size: px;
	font-weight: 800;
}

.points p {
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	font-size: 80px;
	background: #000;
	color: #f94f6d;
	min-width: 205px;
}

.btn-primary {
	background: transparent;
	color: #9aabd8;
	border-color: #9aabd8;
	font-size: 1.5em;
}

.btn-primary:hover,
.btn-primary:active {
	color: #fff;
	background-color: #f94f6d;
	border-color: #f94f6d;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #f94f6d;
	border-color: #f94f6d;
	box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
